# NOTE: Requires **VS2019 16.3** or later

# Rules for Sundew.Base.UnitTests
# Description: Code analysis rules for Sundew.Base.UnitTests.csproj.

# Code files
[*.{cs,vb}]


dotnet_diagnostic.CS1591.severity = none

dotnet_diagnostic.SA1123.severity = none

dotnet_diagnostic.SA1124.severity = none

dotnet_diagnostic.SA1512.severity = none

dotnet_diagnostic.SA1515.severity = none
